body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #004b87;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header p {
    margin-top: 5px;
    font-size: 14px;
}

#map {
    height: 80vh;
    width: 100%;
}

footer {
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

/* LEGEND */
#legend {
    position: absolute;
    bottom: 80px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 14px;
    z-index: 1000;
}